* {    
  margin: 0 ;
  padding: 0 ;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F7ECDE;
}

.heading{
  background-color: #E9DAC1;
  padding-bottom: 50px;
  /* flex: 1; */
}

.body{
  /* flex:1; */

  margin-top: 40vh;
  margin-bottom: 50vh;
  display: flex;
  justify-content: center;
}

label{
  margin:0 20px;
}